# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Flask
instance/
*.db
*.sqlite3

# Credentials and secrets
mensmentalhealth.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.cache/