<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mental Health buddy{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/chat.js"></script>
    </head>
            <body>
                <header>
                    <nav>
                        <a href="{{url_for('index')}}">Chat</a>
                        <a href="{{url_for('resources')}}">Resources</a>
                    </nav>
                    <h1>
                        Mental Health buddy
                    </h1>
                </header>
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
            </body>
</html>